
$color_base:#fff;
$color: gray;
$color-dark: darken($color, 5%);
$color-light: lighten($color, 20%);
$color_menu-light: lighten($color, 40%);
$color_menu-sat: saturate($color_menu-light, 20%);
$color-sat: saturate($color-light, 3%);
$color-desat: desaturate($color-light, 10%);

.menu-icon {
  position: absolute; 
  top: 10px; 
  right: 10px;
  padding: 5px;  
  font-size: 1.9rem;
  color: $color_base;    
  z-index: 60;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
  &:hover {
    opacity: 0.6;
    color: $color_menu-sat;
    transition: 0.4s; 
    cursor: pointer;
  }
  @media screen and (min-width: 1051px) {
    display: none;
  }
}

.menu {  
  display: flex;
  flex-direction: row;  
  justify-content: center;               
  align-items: center;  
  height: 100%;                 
  &:hover {
    transition: 0.7s ease;
    background: rgba(0, 0, 0, 0.2); 
  }
  
  @media screen and (max-width: 1050px) {
    display: none;
  }
    
  opacity: 0;
  animation: descent 0.8s forwards; 
  @keyframes descent {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {transform: translateY(-50%);}
    100% {transform: translateX(0);}
  }
}

.menu__link-box {
  margin: 20px 20px;  
}

.box__link {  
  text-decoration: none;  
  cursor: pointer;  
}

.link__title {  
  padding: 7px;      
  border-radius: 6px; 
  font-size: 1.3rem;
  font-family: sans-serif;       
  font-weight: 700;                              
  color: $color_base; 
  &:hover { 
    transition: 0.4s ease;
    color: $color-sat;
  }
   
}

.title.about {
  color: lightgreen;
  font-weight: 700; 
  cursor: default;  
}

.title.information {
  color: lightgreen;
  font-weight: 700; 
  cursor: default;  
}

.title.tours {
  color: lightgreen;
  font-weight: 700; 
  cursor: default;  
}

.title.more {
  color: lightgreen;
  font-weight: 700; 
  cursor: default;  
}


@media screen and (max-width: 1050px) {
  .menu-mobile {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    width: 270px;
    overflow: auto;
    background: rgba(0, 0, 0, 0.7);
    .menu__link-box {
      margin: 40px 20px;  
    }
    &:hover {
      transition: 0.3s ease;
      background: rgba(0, 0, 0, 0.6); 
    }   
    animation: demonstration 1s forwards;   
    @keyframes demonstration {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
  }
  
}


