
.social-full { 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  align-self: center; 
  margin-left: 10px;
  font-size: 16px;  
  z-index: 50; 
  @media screen and (orientation: portrait) {
    display: none;
  }
  @media screen and (orientation: landscape) and (max-width: $mobile-big_end-point) { 
    display: none;  
  }
}


.social-full__title {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: sans-serif;        
  font-size: 1em; 
  color: $color_base; 
  transform: rotate(90deg);
  @media screen and (orientation: portrait) {
    display: none;
  }
  @media screen and (orientation: landscape) and (max-width: $mobile-big_end-point) { 
    display: none;  
  }
}
  
.social-full__link {    
  display: block;
  margin: 10px 0 15px 0; 
  padding: 0px;                           
}
  
.social-full__icon {
  padding: 5px; 
  font-size: 1.9em;       
  color: $icon-social_color; 
  &:hover {
    color: $icon-social_hover;
    transition: 0.2s;
  }
        
}

.social-mobile {
 font-size: 16px;
}

.social-mobile__link {   
  display: block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
  
  &.first--direction_right {
    left: 60px;
  }

  &.second--direction_right {
    left: 125px;
  }

  &.third--direction_right {
    left: 190px;
  }
  
  &.first--direction_up {
    bottom: 70px;
  }

  &.second--direction_up {
    bottom: 135px;
  }

  &.third--direction_up {
    bottom: 200px;
  }
  
  @media screen and (min-width: $tablet-small_starting-point) {
    display: none;
  }                   
}

.social-mobile__icon {
  margin: 0;
  padding: 5px; 
  font-size: 1.9em;
  color: $icon-social_color;  
  &:hover {
    color: $icon-social_hover;
    transition: 0.2s; 
  }
}

.icons-show { 
  position: absolute; 
  left: 0; 
  bottom: 10px; 
  margin-left: 10px;   
  z-index: 40;  
}

.social-mobile__link.icons-show {
  opacity: 0;
  animation: direction-up 0.8s forwards; 
    
  @keyframes direction-right {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {transform: translateX(-150%);}
    100% {transform: translateY(0);}
  }
  @keyframes direction-up {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {transform: translateY(150%);}
    100% {transform: translateX(0);}
  }
  
}

.social-mobile__base-icon {
  position: absolute;  
  left: 5px;
  bottom: 10px;
  padding: 5px;  
  font-size: 1.9em;
  color: $icon-social_color;    
  z-index: 40;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
  &:hover {
    opacity: 0.6;
    color: $icon-social_hover;
    transition: 0.4s; 
    cursor: pointer;
  }
  &.base-icon-hidden {
    color: silver;
    cursor: pointer;
    animation: my-animation 0.5s forwards;
  }
  
  &.cursor-inactive {
    /* TODO - this class is used when self-disappearing icons feature is enabled in js */
    color: silver;
    cursor: default;
    animation: my-animation 0.5s forwards;
  }
  
  @keyframes my-animation {
    0% { opacity: 1; }
    100% { opacity: 0.4; }
  }
  @media screen and (min-width: $tablet-small_starting-point) {
    display: none;
  }
}


