
$color: #3a86d8;
$color-light: lighten($color, 15%);

.header {
  position: fixed;     
  top: 0;
  left: 0; 
  right: 0;   
  height: calc(1.9rem + 50px);  
  z-index: 50;
  /*&:hover {
    transition: 0.7s ease;
    background: rgba(0, 0, 0, 0.1); 
  }*/
}

.header_style_background {
  height: calc(1.9rem + 50px);
  background: $color-light; /* rgba(0, 0, 0, 0.2); */
}




